@import url('https://fonts.googleapis.com/css?family=Work Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Kalam:700');
body {
   font-size: 1em;
   line-height: 1.7;
   font-family: "Work Sans", Helvetica, sans-serif;
   font-weight: 300;
   color: #292929;
   display: block;
   margin: 0;
}

/* ========================================================================== */

/* FONT STYLES
/* ========================================================================== */

span {
   display: block;
}

h1,
h2,
h3,
h4,
h5 {
   font-family: "Kalam", Helvetica, sans-serif;
   text-transform: uppercase;
}

h1 {
   font-size: 3em;
   letter-spacing: 4px;
}

h2 {
   font-size: 2.5em;
   letter-spacing: 3px;
}

h3 {
   font-size: 2em;
   letter-spacing: 2px;
}

h4 {
   font-size: 1.5em;
   letter-spacing: 2px;
}

h5 {
   font-size: 1.25em;
   letter-spacing: 2px;
}

.small-header {
   display: block;
   font-weight: 600;
   font-size: 1em;
   letter-spacing: 2px;
   margin-bottom: 0;
}

@media (max-width: 767.98px) {
   /* all mobile fonts size down by 0.5em */
   h2 {
      font-size: 2em;
   }
}

/* ========================================================================== */

/* GENERAL STYLES
/* ========================================================================== */

footer {
   display: flex;
   justify-content: center;
   padding: 20px 0 40px 0;
}

footer span {
   font-size: 0.85em;
   width: 80%;
}

.section-content {
   display: flex;
   flex-direction: column;
   width: 80%;
   padding: 40px 0px;
}

.divider {
   height: 1px;
   margin: 20px 0;
   background-color: rgba(0, 0, 0, 0.2);
}

@media (max-width: 767.98px) {
   footer {
      display: none;
   }
   .section-content {
      display: flex;
      width: 80%;
      justify-content: center;
      align-items: center;
   }
}

/* ========================================================================== */

/* FLOATING NAV
/* ========================================================================== */

.floating-nav-section {
   position: fixed;
   bottom: 20px;
   right: 0;
   left: 0;
   z-index: 150;
   display: flex;
   justify-content: center;
}

.floating-nav-section .navbar {
   padding: 15px 25px;
   background-color: #fff;
   display: flex;
   justify-content: center;
   box-shadow: 1px 2px 10px 2px rgba(0, 0, 0, 0.2);
   border-radius: 10px;
}

.floating-nav-section .navbar ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

.floating-nav-section .navbar ul li {
   display: inline-block;
   margin: 0 25px;
}

.floating-nav-section .navbar ul li a {
   text-decoration: none;
   font-size: 1.5em;
   color: #292929;
}

.floating-nav-section .navbar ul li a:hover,
.floating-nav-section .navbar ul li a:active,
.floating-nav-section .navbar ul li a:focus {
   color: #daa520;
}

/* ========================================================================== */

/* HERO
/* ========================================================================== */

#hero {
   background-color: #ffe2eb;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.hero-name {
   font-family: "Kalam", Helvetica, sans-serif;
   font-size: 6em;
   text-transform: uppercase;
   line-height: 0.8;
}

.hero-name-x {
   font-family: "Kalam", Helvetica, sans-serif;
   font-size: 3.5em;
   text-transform: uppercase;
   line-height: 1.3;
}

.hero-date {
   font-weight: 700;
   font-size: 2em;
   text-transform: uppercase;
   margin-top: 80px;
   letter-spacing: 10px;
}

@media (max-width: 767.98px) {
   .hero-name {
      font-size: 5em;
   }
   .hero-date {
      font-size: 1.5em;
   }
}

/* ========================================================================== */

/* PICTURES
/* ========================================================================== */

.wedding-image {
   display: flex;
   height: 100vh;
   background-image: url("../img/wedding-1.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

@media (max-width: 767.98px) {
   .wedding-image {
      height: 300px;
   }
}

/* ========================================================================== */

/* DETAILS
/* ========================================================================== */

#details {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding-bottom: 40px;
}

#map {
   display: block;
   height: 500px;
   background-color: #333333;
}

.section-content .details-content {
   display: flex;
   flex-direction: row;
   margin-top: 10px;
}

.section-content .details-content .details-heading {
   font-weight: 600;
   font-size: 1.2em;
   margin-bottom: 10px;
}

.details-content .event-box {
   display: none;
}

.details-content .event-box-widescreen,
.details-content .event-box .event {
   flex: 1;
}

.details-content .address-box,
.details-content .event-box-widescreen {
   padding-right: 50px;
}

.details-content .address-box {
   border-right: 1px solid #9e9e9e;
}

.details-content .event-box-widescreen {
   padding-left: 50px;
}

.details-content .event-box-widescreen .event {
   display: flex;
   flex-direction: row;
   align-items: center;
}

.details-content .event-box-widescreen .details-heading {
   margin-right: 20px;
   margin-bottom: 3px;
}

.details-content .event-box .event:first-child {
   border-right: 1px solid #9e9e9e;
}

@media (max-width: 767.98px) {
   #map {
      height: 400px;
   }
   .details-content .event-box {
      display: flex;
      flex-direction: row;
      margin-top: 40px;
   }
   .details-content .address-box {
      border-right: none;
   }
   .section-content .details-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
   }
   .details-content .address-box,
   .details-content .event-box-widescreen {
      padding-right: 0;
   }
   .details-content .event-box-widescreen {
      display: none;
   }
}

/* ========================================================================== */

/* DAYS LEFT
/* ========================================================================== */

#daysleft {
   background-color: #ffccdc;
   display: flex;
   justify-content: center;
}

#days {
   font-family: "Kalam", Helvetica, sans-serif;
   font-weight: 700;
   font-size: 7em;
   margin-right: 20px;
   margin-left: 10px;
   margin-bottom: -20px;
}

#daysleft .section-content {
   display: flex;
   flex-direction: row;
   width: 30%;
}

#daysleft .section-content div {
   display: flex;
   flex-direction: column;
   justify-content: center;
}

#bigday {
   font-weight: 600;
   font-size: 1.2em;
   margin-bottom: 10px;
}

@media (max-width: 767.98px) {
   #days {
      font-size: 6em;
      margin-bottom: -20px;
   }
   #daysleft .section-content {
      width: 80%;
   }
   #bigday {
      font-size: 1em;
      margin-bottom: 0px;
   }
}

/* ========================================================================= */

/* GETTING THERE 
/* ========================================================================= */

#gettingthere {
   background-color: #e9eff5;
   display: flex;
   justify-content: center;
}

.h-content {
   display: flex;
   flex-direction: row;
   margin-bottom: 30px;
}

.h-content .content-item {
   margin: 0px 15px;
   display: flex;
   flex-direction: column;
   flex: 1;
   background-color: white;
   padding: 15px;
   border: 1px solid #dfe6ed;
}

.h-content .content-item ul {
   margin-left: -15px;
   margin-top: 0px;
}

.h-content .content-item ul li {
   list-style-type: square;
}

.h-content .content-item span {
   margin: 0;
}

.h-content .content-item span a {
   cursor: pointer;
   color: #0082d3;
}

.h-content .content-item i {
   font-size: 3em;
}

.h-content .content-item .transport-header {
   font-family: "Cabin", Helvetica, sans-serif;
   font-weight: 700;
   font-size: 1.2em;
   margin-bottom: 10px;
}

@media (max-width: 767.98px) {
   .h-content {
      display: flex;
      flex-direction: column;
   }
   .h-content .content-item {
      margin: 15px 0;
      text-align: left;
      background-color: white;
      padding: 15px;
      border: 1px solid #dfe6ed;
   }
   .h-content .content-item i {
      margin-right: 20px;
   }
}

/* ========================================================================= */

/* SHARE MOMENTS
/* ========================================================================= */

#sharemoments {
   display: flex;
   justify-content: center;
}

.section-content .hashtag-box {
   width: 70%;
}

#hashtag {
   font-family: "Kalam", Helvetica, sans-serif;
   font-weight: 700;
   font-size: 3em;
   color: #daa520;
   letter-spacing: 2px;
}

@media (max-width: 767.98px) {
   #sharemoments {
      height: 100vh;
   }
   #sharemoments .section-content {
      width: 75%;
      text-align: center;
      justify-content: flex-start;
      padding-top: 100px;
   }
   .section-content .hashtag-box {
      width: 100%;
   }
   .section-content .hashtag-box span {
      margin-bottom: 15px;
   }
   #hashtag {
      margin-top: 20px;
      font-size: 2em;
   }
}

/* ========================================================================= */

/* MODAL
 /* ========================================================================= */

.modal {
   position: fixed;
   top: 0;
   left: 0;
   background-color: rgba(0, 0, 0, 0.6);
   z-index: 300;
   height: 100%;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.modal-body {
   width: 70%;
   background-color: white;
   box-shadow: 1px 2px 10px 2px rgba(0, 0, 0, 0.2);
   padding: 10px;
   padding-top: 0;
   z-index: 500;
   display: flex;
   flex-direction: column;
   /* animations */
   animation: modal-expand 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.modal-body .modal-close {
   display: flex;
   justify-content: flex-end;
}

.modal-body .modal-close a {
   font-size: 1.5em;
}

.modal-body .modal-body-img {
   width: 100%;
   height: auto;
}

@media (max-width: 767.98px) {
   .modal-body {
      width: 80%;
   }
}

/* ========================================================================= */

/* ANIMATIONS
 /* ========================================================================= */

@keyframes modal-expand {
   0% {
      transform: scale(0);
   }
   100% {
      transform: scale(1);
   }
}

@keyframes modal-dismiss {
   0% {
      transform: scale(1);
      opacity: 1;
   }
   100% {
      transform: scale(0);
      opacity: 0;
   }
}